body{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px!important;
}

.menu-principal{
    width: 100%;
    background-color: aqua;
    height: 90px;
}
main{
    margin: 0 auto;
    width: 980px;    
    position: relative;
}
.logo{
    float: left;
    padding: 16px;
    width: 75%;
    }
.redes-sociais ul li{
    margin-left: 2px;    
    display:inline-block;
    float:none;
    list-style: none;   
}
.redes-sociais{
    width: 20%;    
    float: left;
}
.header-2{
    background-color: black;
    width: 980px;
    margin: 0 auto; 
    padding: 16px;   
}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid white;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 8px;
    height: 50px;
}
.menu ul li:hover{
    border-bottom: 3px solid #eb1e0f;
}
.menu ul li a:hover{
    color: #eb1e0f
}
.menu ul li a {    
    color: #09f0f0;
    text-decoration: none;
}
.menu{
    width: 70%;
    float: left;
}
.busca{
    text-align-last: center;
    width: 30%;
    float: right;
    margin-top: 15px;
}
.busca input{
    background-image: url("../img/icons8-pesquisar-24.png");
    background-repeat: no-repeat;
    height: 26px;
    padding: 12px;
    width: 190px;
    margin-top: 0px;
    background-position: 96%;
    border: 1px solid gray;
    float:left;

}
.col-100{
    width: 60%;
    float:none;
    position: relative;
}
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/icons8-left-arrow-64.png);
    top: 35%;
    left: 0;
    
    
}